@import "tailwindcss";

@theme {
  --color-pastel-yellow: #FDEEAB;
  --color-soft-beige: #DEA058;
  --color-soft-orange: #F59E0B;
}

body {
  background-color: var(--color-orange-50);
}

@keyframes flipIn {
  0% {
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0;
  }

  100% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slideDownBounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  60% {
    transform: translateY(10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}