@import "tailwindcss";

@theme {
  --color-pastel-yellow: #fdeeab;
  --color-soft-beige: #dea058;
  --color-soft-orange: #f59e0b;
}

body {
  background-color: var(--color-orange-50);
}

@keyframes flipIn {
  0% {
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0;
  }

  100% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slideDownBounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  60% {
    transform: translateY(10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes egg-shake-pause {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-5deg);
  }

  /* Shake Left */
  10% {
    transform: rotate(5deg);
  }

  /* Shake Right */
  15% {
    transform: rotate(-5deg);
  }

  /* Shake Left */
  20% {
    transform: rotate(5deg);
  }

  /* Shake Right */
  25% {
    transform: rotate(0deg);
  }

  /* Stop */
  100% {
    transform: rotate(0deg);
  }

  /* Stay stopped (Pause) */
}

.animate-egg-shake {
  animation: egg-shake-pause 3s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes star-fall {
  from {
    background-position: 0 0, 40px 60px;
  }

  to {
    background-position: 0 600px, 40px 660px;
  }
}

.animate-star-fall {
  animation: star-fall 60s linear infinite;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(110vh);
    /* Using vh for end to be safe, or 110% */
  }
}

@keyframes shine {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-heartbeat {
  animation: heartbeat 1s ease-in-out infinite;
  transform-origin: center center;
}